* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

header {
  background-color: #3f3697;
  padding: 0 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger {
  width: 3rem;
  cursor: pointer;
}

.bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: white;
  border-radius: 15px;
}

.bar:nth-child(2) {
  margin: 0.5rem 0;
}

#hamburger:checked + .menu {
  padding: 0.5rem 1rem;
  display: flex;
}

footer {
  background-color: #3f3697;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  margin: 0 0.5rem;
}
