* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

header {
  background-color: #3f3697;
  padding: 0 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger {
  width: 3rem;
  cursor: pointer;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 5rem;
  left: 0;
  background-color: #3d84b8;
}

.menu a {
  border-bottom: 1px solid white;
  text-decoration: none;
  color: white;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.logo {
  width: 20rem;
  margin: 0 2rem;
}

.bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: white;
  border-radius: 15px;
}

.bar:nth-child(2) {
  margin: 0.5rem 0;
}

#hamburger:checked + .menu {
  padding: 0.5rem 1rem;
  display: flex;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 5rem;
  left: 0;
  background-color: #3d84b8;
}

.menu a {
  border-bottom: 1px solid white;
  text-decoration: none;
  color: white;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #3f3697;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  height: 5rem;
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 992px) {
  .social img {
    width: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .hamburger {
    width: 2rem;
    cursor: pointer;
  }

  .bar {
    width: 2rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 15px;
  }

  .logo {
    width: 15rem;
    margin: 0 1rem;
  }

  footer {
    flex-direction: column;
  }
}
