.content{
    width: 100%;
    padding: 0 0 calc(2.5vw + 1vh + 2rem) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.page-title{
    width: 95%;
}

.page-title > h1{
    font-family: 'Bungee Inline';
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.content-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box{
    margin-bottom: calc(1rem + 2vw);
    text-align: center;
    font-size: calc(1em + 1vw);
    transition: all .2s ease-in-out;
}

.content-box > p{
    margin: 0;
}

.content-box:hover{
    transform: scale(1.1);
    font-size: calc(1.5em + 1.1vw);
    margin-bottom: calc(1.5rem + 2.5vw);
}

.content-box, .screenshot-image{
    width: calc(30% + 10vh + 18rem);
}

@media all and (max-width: 1350px){
    .content-row{
        flex-direction: column;
        justify-content: center;
    }

    .content-box{
        width: calc(30% + 10vh + 20rem);
    }
}

@media all and (max-width: 800px){
    .page-title > h1{
        font-size: 3.5em;
    }

    .content-box, .screenshot-image{
        width: calc(25% + 7vh + 20rem);
    }
}

@media all and (max-width: 600px){
    .page-title > h1{
        font-size: 3em;
    }

    .content-box, .screenshot-image{
        width: calc(30% + 3vh + 15rem);
    }
}

@media all and (max-width: 400px){
    .page-title > h1{
        font-size: 2.5em;
    }

    .content-box{
        width: calc(30% + 3vh + 10rem);
    }

    .screenshot-image{
        width: calc(30% + 3vh + 10rem);
    }
}